@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Walter+Turncoat&display=swap');

:root {
  --tomato-red: #fa2600;
}

.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-image: url(./food-3.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-title {
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  font-size: 8vmin;
  margin-bottom: 20vh;
}

/* ------------------------------------------ Header ------------------------------------------ */

header {
  background-color: rgb(251,251,251);
  height: 8vh;
  box-shadow: 0px 0px 5px 1px rgb(63, 63, 63);
  display: flex;
  /* overflow: hidden; */
  position: fixed;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100vw;
  padding: 0 5vw;
  z-index: 6;
  font-family: 'Julius Sans One', sans-serif;
}

.bar-container {
  display: none;
}

.little-nav {
  display: none;
}

.big-nav {
  all: unset;
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

header a,
header a:visited,
header a:focus,
header a:active {
  all:unset;
  color: black;
  cursor: pointer;
  height: 100%;
  transition: all 300ms ease-in-out;
}

.big-nav li {
  all: unset;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: color 300ms ease-in-out;
  font-size: 14px;
}

.big-nav li h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.big-nav li .underline {
  width: 0%;
  height: 4px;
  border-radius: 5px;
  margin: auto auto 0 auto;
  transition: all 200ms ease-in-out;
}

.big-nav li:hover .underline {
  background-color: var(--tomato-red);
  width: 100%;
}

.big-nav li:hover a {
  color: var(--tomato-red);
}

.big-nav li:hover {
  color: var(--tomato-red);
}
 
#logo {
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

#logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo h1 {
  font-size: 28px;
  margin: auto;
}

.signed-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-pic {
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  cursor: pointer;
}

/* ------------------------------------------ Home Display ------------------------------------------ */


.Home {
  background-image: url(./marble2.jpg);
  background-size: 350px;
  width: 100vw;
  min-height: 100vh;
  padding: 12vh 0 8vh 0;
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 25px;
  justify-content: center;
}

/* ------------------------------------------ Load More Recipes Button ------------------------------------------ */

.more-recipes-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin: 5vw auto 3vw auto;
  cursor: pointer;
  opacity: 0%;
}

.more-recipes-content {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0px 0px 3px 3px #6b6b6b;
  display: flex;
  position: relative;
  overflow: hidden;
}

.more-words {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  transition: color 200ms linear;
  font-style: italic;
  font-size: 24px;
}

.more-recipes-content:hover .more-words {
  color: black;
}

.more-recipes-content:hover .tomato-left {
  transform: translate(0%, -60%) translateX(-30px) rotate(-90deg);
}

.more-recipes-content:hover .tomato-right {
  transform: translate(-200%, -60%) translateX(30px) rotate(90deg);
}

.tomato {
  transform-origin: bottom;
  width: 75px;
  height: 150px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  overflow: hidden;
  transition: all 300ms ease-in;
  filter: invert(21%) sepia(57%) saturate(5714%) hue-rotate(2deg) brightness(99%) contrast(101%);
}

.tomato-left {
  z-index: 4;
}

.tomato-left img {
  height: 80%;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.tomato-right {
  z-index: 6;
}

.tomato-right img {
  height: 80%;
  position: absolute;
  top: 50%;
  left: -80%;
  transform: translate(-3%, -50%);
}

.knife-container {
  position: absolute;
  height: 150px;
  width: 150px;
  transform: translate(-50%, -50%);
  transition: all 100ms linear;
  pointer-events: none;
  transform-origin: bottom;
  z-index: 5;
}

.knife-container::before {
  content: '';
  background-color: #d5d5d7;
  height: 72px;
  width: 51px;
  position: absolute;
  top: 19%;
  left: 45%;
  transform: rotate(45deg);
}

.more-recipes-content:hover .knife-container {
  transform: translate(-50%, 20%) rotate(60deg);
}

.knife-container img {
  position: relative;
  height: 150px;
}


/* ------------------------------------------ Home View Recipe Cards ------------------------------------------ */



.recipe-card {
  font-family: 'Walter Turncoat', cursive;
  background-color: transparent;
  width: 300px;
  height: calc(300px * 1.22);
  perspective: 1000px;
  opacity: 0;
}

.recipe-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 600ms ease-in-out;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 10px 5px #6b6b6b;
  box-shadow: 0 0 5px 1px black;
}

.flip .recipe-card-inner{ /* can apply flip class to recipe card on Click.. useState to achieve this? */
  transform: rotateY(180deg);
}

.recipe-card:hover .recipe-card-inner {
  transform: rotateY(180deg);
}

.recipe-card-front, .recipe-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.recipe-card-front {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cream-pixels.png");
  color: black;
  display: grid;
  grid-template-rows: 4.7fr 1fr;
  text-align: center;
  border-radius: 2px;
}

.image-container {
  margin-top: 6%;
  margin-bottom: auto;
  justify-self: center;
  width: 88%;
}

.image-container img {
  width: 100%;
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.recipe-front-text {
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: end;
  font-size: 12px;
  margin-bottom: 5px;
}

.recipe-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  text-align: center;
  border-radius: 2px;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  overflow: hidden;
}

.recipe-back-title {
  grid-row-start: 1;
  grid-row-end: 2;
  overflow: hidden;
  font-size: 11px;
}

.recipe-back-description {
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 14px;
  width: 90%;
  margin: 0px auto;
  text-align: center;
  overflow: hidden;
  font-family: 'Walter Turncoat', cursive;
}

.recipe-back-author-container {
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;
}

.recipe-back-author {
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 12px;
}

.recipe-back-author-pic img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: grey;
  grid-row-start: 1;
  grid-row-end: 2;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  transition: all 300ms;
  transform-origin: center;
}

.recipe-back-author-pic img:hover {
  width: 10vh;
  height: 10vh;
}


/* ------------------------------------------ Recipe Creation ------------------------------------------ */

.Create {
  margin-top: 8vh;
  height: 92vh;
  width: 100vw;
  background-color: rgb(25, 126, 84);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-form {
  min-height: 450px;
  height: 75%;
  width: 300px;
  box-sizing: border-box;
  position: relative;
  /* overflow: hidden; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-style: italic;
}

.recipe-form h2 {
  margin: 0 auto 2vh auto;
}

.step-counter {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  font-weight: bold;
  font-size: 20px;
}

.recipe-front-text-creation input {
  all: unset;
  box-sizing: border-box;
  border-bottom: 3px solid rgba(0, 0, 0, 0.623);
  width: 90%;
  height: 50px;
  font-size: 20px;
  font-family: 'Walter Turncoat', cursive;
  font-weight: bold;
  animation-name: fluctuate;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes fluctuate {
  0%  { border-bottom: 3px solid #FF0000; }
  25% { border-bottom: 3px solid #FFFF00; }
  50% { border-bottom: 3px solid #00FF00; }
  75% { border-bottom: 3px solid #0000FF; }
  100%{ border-bottom: 3px solid #FF0000; }
}

.step-2 input:focus {
  border-bottom: 2px solid green;
}

.recipe-back-description-creation textarea {
  all: unset;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
  height: 90%;
  width: 95%;
  margin-top: 10px;
  font-size: 14px;
  animation-name: fluctuate2;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes fluctuate2 {
  0%  { border: 3px solid #FF0000; }
  25% { border: 3px solid #FFFF00; }
  50% { border: 3px solid #00FF00; }
  75% { border: 3px solid #0000FF; }
  100%{ border: 3px solid #FF0000; }
}

.form-button-container {
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: 70px 1fr 70px;
}

.form-button-container i {
  margin: auto;
}

.form-button-container i:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.previous-step-button {
  grid-column: 1 / 2;
  display: flex;
}

.next-step-button {
  grid-column: 3 / 4;
  display: flex;
}

.submit-button {
  all: unset;
  background-color: rgb(0, 163, 35);
  border: 2px solid black;
  box-shadow: 0px 0px 2px 2px grey;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.submit-button:hover {
  cursor: pointer;
}

.submit-button-inner {
  background-color: rgb(0, 163, 35);
  border: 2px solid black;
  box-shadow: 0px 0px 2px 2px white;
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  margin: auto;
}

@keyframes pulse {
  0% {height: 10vh; width: 10vh;}
  100% {transform: translate(-50%, -50%); border: 1px solid transparent; height: 15vh; width: 15vh;}
}

.flashers {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  border: 3px solid green;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: pulse;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
  transform-origin: center;
}

.flasher-1 {
  animation-delay: 0ms;
}

.flasher-2 {
  animation-delay: 100ms;
}

.flasher-3 {
  animation-delay: 200ms;
}

.submit-button:focus div {
  box-shadow: 0px 0px 2px 2px white inset;
}

.submit-button-fake {
  all: unset;
  background-color: rgb(129, 129, 129);
  border: 2px solid black;
  box-shadow: 0px 0px 2px 2px grey;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  pointer-events: none;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.submit-button-fake div {
  background-color: rgb(129, 129, 129);
  border: 2px solid black;
  box-shadow: 0px 0px 2px 2px white;
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  margin: auto;
}

.draft-recipe-card-container {
  display: flex;
}

/* ------------------------------------------------------- Add Recipe Draft Card --------------------------------------------------------------------------------------- */

.recipe-card-creation {
  opacity: 0;
  background-color: transparent;
  width: 280px;
  height: calc(280px * 1.22);
  perspective: 1000px;
}

.recipe-card-inner-creation {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 13px 0px #8a8a8a;
}

.crop-container {
  max-width: 100%;
  max-height: 100%;
}

.flippable:hover .recipe-card-inner-creation {
  transform: rotateY(180deg);
}

.cropping canvas {
  display: none;
}

.cropping {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cropping label img {
  width: 50%;
  animation-name: changeColors;
  animation-duration: 2500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cropping label img:hover {
  cursor: pointer;
}

@keyframes changeColors {
  0%  {filter: invert(20%) sepia(81%) saturate(7341%) hue-rotate(357deg) brightness(109%) contrast(120%);}
  50% { filter: invert(91%) sepia(24%) saturate(4479%) hue-rotate(3deg) brightness(109%) contrast(104%);}
  75% { filter: invert(8%) sepia(100%) saturate(6851%) hue-rotate(248deg) brightness(102%) contrast(145%);}
  100% { filter: invert(20%) sepia(81%) saturate(7341%) hue-rotate(357deg) brightness(109%) contrast(120%);}
}

.finished-cropping .crop-container {
  display: none;
}

.flip {
  transform: rotateY(180deg);
}

.spin {
  transform: rotateY(1080deg);
}

.recipe-card-front-creation, .recipe-card-back-creation {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.recipe-card-front-creation {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cream-pixels.png");
  color: black;
  display: grid;
  grid-template-rows: 4.7fr 1fr;
  text-align: center;
  border-radius: 2px;
}

.image-container-creation {
  margin-top: 6%;
  justify-self: center;
  width: 88%;
}

.image-container-creation img {
  max-width: 246.6px;
  max-height: 246.6px;
  -webkit-backface-visibility: hidden; /*Safari */
  backface-visibility: hidden;
}

.recipe-front-text-creation {
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 12px;
  align-self: end;
  margin-bottom: 1.5vh;
}

#photo-upload {
  display: none;
}

.recipe-card-back-creation {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  text-align: center;
  border-radius: 2px;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  overflow: hidden;
}


.recipe-back-title-creation {
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 7px;
  overflow: hidden;
}

.recipe-back-description-creation {
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 14px;
  width: 90%;
  margin: 0px auto;
  text-align: center;
  overflow: hidden;
}

.recipe-back-author-container-creation {
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;
}

.recipe-back-author-creation {
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 10px;
}

.recipe-back-author-pic-creation img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  grid-row-start: 1;
  grid-row-end: 2;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  transition: all 300ms;
  transform-origin: center;
}

.recipe-back-author-pic-creation img:hover {
  width: 10vh;
  height: 10vh;
}

/* MEDIA QUERIES */

@media (max-width: 400px) {
  .recipe-creation-header h2 {
    font-size: 20px;
  }

  .recipe-form h2 {
    font-size: 18px;
  }

  .submit-button {
    width: 50px;
    height: 50px;
    transform: translate(-50%, 0%);
  }

  .submit-button-inner {
    height: 40px;
    width: 40px;
  }

  @keyframes pulse {
    0% {height: 50px; width: 50px;}
    100% {transform: translate(-50%, -50%) scale(1.4); border: 1px solid transparent;}
  }

  .flashers {
    height: 50px;
    width: 50px;
  }

  .submit-button-fake {
    width: 50px;
    height: 50px;
  }

  .submit-button-fake div {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 900px) {
  header {
    padding: 0 4vw;
    justify-content: space-between;
  }

  .big-nav {
    display: none;
  }

  #logo {
    order: 2;
  }

  .bar-container {
    order: 1;
    display: block;
    width: 5vh;
    height: 4.55vh;
    position: relative;
    cursor: pointer;
  }

  .bar {
    position: absolute;
    width: 100%;
    height: 1vh;
    background-color: black;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
    transform-origin: left;
  }

  .bar-1 {
    top: 0;
    left: 0;
  }

  .bar-2 {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .bar-3 {
    bottom: 0;
  }

  .open-1 {
    transform: rotate(45deg);
  }

  .open-2 {
    background-color: transparent;
    transform: rotate(-45deg);
    bottom: 0;
  }

  .open-3 {
    transform: rotate(-45deg);
    bottom: 0;
  }

  .little-nav {
    position: absolute;
    margin: 0;
    padding: 0 1vw;
    top: 8vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out;
    z-index: -1;
    background-color: rgba(255, 255, 255, .9);
    border-bottom-right-radius: 5px;
  }

  .open-nav {
    left: 0;
  }

  .open-nav li {
    border: 1px solid red;
  }

  .open-nav li h3 {
    color: black;
    text-shadow: 0 0 3px white;
  }

  .closed-nav {
    left: -100%;
  }

  .closed-nav li h3 {
    transition: color 300ms linear;
    color: transparent;
  }

  .little-nav li {
    all: unset;
  }

}