.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  /* display: grid;
  grid-template-rows: 10vh 90vh; */
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
  background-color: rgb(251,251,251);
  height: 10vh;
  box-shadow: 0px 0px 3px 3px rgb(226, 226, 226);
  display: flex;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  z-index: 3;
}

.header div {
  align-self: center;
  transition: transform 300ms;
  transform-origin: center;
}

.header div:hover {
  cursor: pointer;
}

.logo {
  margin-left: 40px;
  margin-right: auto;
  margin-top: 10px;
}

.logo img {
  height: 100%;
  pointer-events: none;
}

.new-recipe {
  color: rgb(148, 148, 148);
}

.new-recipe-icon-container {
  margin-right: 40px;
  width: 35px;
  height: 32px;
}

.new-recipe-icon-container:hover {
  color: #C70017;
}

.new-recipe-icon-container i{
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.fa-plus-circle {
  color: rgb(251,251,251);
}

.home {
  margin-right: 40px;
  color: rgb(148, 148, 148);
}

.home:hover {
  color: #C70017;
}

.log-in-out {
  display: flex;
  margin-right: 40px;
}

.current-display {
  margin-top: 10vh;
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------- SIGNED-IN-USER -------------------- */

.sign-in {
  margin-right: 40px;
  color: rgb(148, 148, 148);
}

.sign-in:hover {
  color: #C70017;
}

.signed-in {
  margin-right: 40px;
}

.user-name {
  margin: auto;
}

.user-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  right: 15px;
}

.home-view {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* -------------------- ADD NEW RECIPE -------------------- */

.new-recipe-view {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
}

.recipe-form {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  box-shadow: 0px 0px 2px 2px rgb(200, 200, 200);
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
  margin: auto;
  background-color: rgb(251,251,251);
}

.recipe-form h2 {
  font-style: italic;
}

.recipe-creation-header {
  grid-row-start: 1;
  grid-row-end: 2;
  color: #C70017;
  margin: auto;
  font-size: 12px;
}

.form-title {
  margin: auto;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 1fr 1fr 5fr;
  font-size: 18px;
}

.form-title input {
  margin: auto;
  all: unset;
  border-bottom: 2px solid rgba(0, 0, 0, 0.623);
  height: 30px;
  margin-top: 50px;
}

.form-title input:focus {
  border-bottom: 2px solid green;
}

.form-photo {
  margin: auto;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 1fr 1fr 5fr;
  font-size: 18px;
}

.form-photo input {
  all: unset;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.form-description {
  margin: auto;
  grid-row-start: 2;
  grid-row-end: 3;
  /* height: 70%; */
  display: grid;
  grid-template-rows: 1fr 1fr 5fr;
  font-size: 18px;
}

.form-description input {
  all: unset;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.form-button-container {
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.previous-step-button {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
}

.previous-step-button i {
  margin: auto;
}

.previous-step-button i:hover {
  cursor: pointer;
  color: rgb(17, 187, 40);
  transform: scale(1.1);
}

.next-step-button {
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
}

.next-step-button i {
  margin: auto;
}

.next-step-button i:hover {
  cursor: pointer;
  color: rgb(17, 187, 40);
  transform: scale(1.1);
}

.create-button-container {
  margin: auto;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 1fr 1fr 5fr;
  font-size: 18px;
}

.submit-button {
  all: unset;
  align-self: center;
  margin: auto;
  color: white;
  font-style: italic;
  background-color: rgb(0, 163, 35);
  border: 2px solid black;
  box-shadow: 0px 0px 2px 2px grey;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 80px;
  position: relative;
}

.submit-button:hover {
  cursor: pointer;
}

.submit-button-inner {
  background-color: rgb(0, 163, 35);
  border: 2px solid black;
  box-shadow: 0px 0px 2px 2px white;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: auto;
}

@keyframes pulse {
  0% {height: 150px; width: 150px;}
  100% {transform: translate(-50%, -50%) scale(1.4) ; border: 1px solid transparent}
}

.flashers-1 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid green;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: pulse;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
  transform-origin: center;
}

.flashers-2 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid green;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: pulse;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
  transform-origin: center;
  animation-delay: 100ms;
}

.flashers-3 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid green;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: pulse;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
  transform-origin: center;
  animation-delay: 200ms;
}

.submit-button:focus div {
  box-shadow: 0px 0px 2px 2px white inset;
}

.submit-button-fake {
  all: unset;
  align-self: center;
  margin: auto;
  color: white;
  font-style: italic;
  background-color: rgb(129, 129, 129);
  border: 2px solid black;
  box-shadow: 0px 0px 2px 2px grey;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 80px;
  pointer-events: none;
}

.submit-button-fake div {
  background-color: rgb(129, 129, 129);
  border: 2px solid black;
  box-shadow: 0px 0px 2px 2px white;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: auto;
}

.sign-in-arrow {
  position: absolute;
  right: 62px;
  color: #C70017;
  animation-name: point-up;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

@keyframes point-up {
  0% {transform: translateY(0%) scale(1.2);}
  50% {transform: translateY(100%);}
  100% {transform: translateY(0%) scale(1.2);}
}

.draft-recipe-card-container {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  margin: auto;
}

/* -------------------- RECIPE CARDS -------------------- */

.recipe-card {
  background-color: transparent;
  width: 276px;
  height: 336px;
  perspective: 1000px;
  margin: 20px;
}


/* This container is needed to position the front and back side */
.recipe-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 13px 0px #8a8a8a;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.recipe-card:hover .recipe-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.recipe-card-front, .recipe-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.recipe-card-front {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cream-pixels.png");
  color: black;
  display: grid;
  grid-template-rows: 277px 59px;
  text-align: center;
  border-radius: 2px;
}

.image {
  margin-top: 18px;
  justify-self: center;
  width: 246px;
  height: 240px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.image-container {
  margin-top: 18px;
  justify-self: center;
  width: 246px;
  height: 240px;
  background-color: transparent;
  /* display: block; */
  position: relative;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: -15%;
  left: 0;
  width: 100%;
  /* transform: translate3d(0,0,0); */
  -webkit-backface-visibility: hidden; /*Safari */
  backface-visibility: hidden;
}

.recipe-front-text {
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: end;
  font-size: 10px;
  margin-bottom: 9px;
}

.recipe-card-back {
  background-color: transparent;
  color: black;
  height: 336px;
  width: 276px;
  transform: rotateY(180deg);
  text-align: center;
  border-radius: 2px;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  overflow: hidden;
}


.recipe-back-title {
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 10px;
  overflow: hidden;
}

.recipe-back-description {
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 14px;
  width: 90%;
  margin: 0px auto;
  text-align: center;
  overflow: hidden;
}

.recipe-back-author-container {
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;
}

.recipe-back-author {
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 12px;
}

.recipe-back-author-pic img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: grey;
  grid-row-start: 1;
  grid-row-end: 2;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  transition: all 300ms;
  transform-origin: center;
}

.recipe-back-author-pic img:hover {
  width: 65px;
  height: 65px;
}

/* -------------- DEMO CARDS FOR CARD CREATION -------------- */

.polaroid-development {
  margin-top: 19px;
  justify-self: center;
  width: 300px;
  height: 308px;
  opacity: 1;
  position: absolute;
  background-color: black;
  z-index: 2;
  transition: all 2000ms;
}

.develop {
  opacity: 0;
  background-color: white;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */


.recipe-card-creation {
  background-color: transparent;
  /* width: 276px;
  height: 336px; */
  width: 414px;
  height: 504px;
  perspective: 1000px;
  margin: 20px;
}


/* This container is needed to position the front and back side */
.recipe-card-inner-creation {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 13px 0px #8a8a8a;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.recipe-card-creation:hover .recipe-card-inner-creation {
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.recipe-card-front-creation, .recipe-card-back-creation {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.recipe-card-front-creation {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cream-pixels.png");
  color: black;
  display: grid;
  grid-template-rows: 415px 89px;
  text-align: center;
  border-radius: 4px;
}

.image-creation {
  margin-top: 27px;
  justify-self: center;
  width: 369px;
  height: 360px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.image-container-creation {
  margin-top: 27px;
  justify-self: center;
  width: 369px;
  height: 360px;
  background-color: transparent;
  /* display: block; */
  position: relative;
  overflow: hidden;
}

.image-container-creation img {
  position: absolute;
  /* top: -15%; */
  left: 0;
  width: 100%;
  /* transform: translate3d(0,0,0); */
  -webkit-backface-visibility: hidden; /*Safari */
  backface-visibility: hidden;
}

.recipe-front-text-creation {
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 20px;
  align-self: end;
  margin-bottom: 18px;
}

.recipe-card-back-creation {
  background-color: transparent;
  color: black;
  height: 504px;
  width: 414px;
  transform: rotateY(180deg);
  text-align: center;
  border-radius: 4px;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  overflow: hidden;
}


.recipe-back-title-creation {
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 15px;
  overflow: hidden;
}

.recipe-back-description-creation {
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 21px;
  width: 90%;
  margin: 0px auto;
  text-align: center;
  overflow: hidden;
}

.recipe-back-author-container-creation {
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;
}

.recipe-back-author-creation {
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 18px;
}

.recipe-back-author-pic-creation img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: grey;
  grid-row-start: 1;
  grid-row-end: 2;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  transition: all 300ms;
  transform-origin: center;
}

.recipe-back-author-pic-creation img:hover {
  width: 98px;
  height: 98px;
}