.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 90vh;
}

.header {
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(251,251,251);
  height: 10vh;
  box-shadow: 0px 0px 3px 3px rgb(226, 226, 226);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header div {
  align-self: center;
  margin: auto;
  transition: transform 200ms;
  transform-origin: center;
}

.header div:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.logo {
  grid-column-start: 1;
  grid-column-end: 2;
  color: red;
}

.logo img {
  height: 70px;
  pointer-events: none;
}

.home {
  grid-column-start: 2;
  grid-column-end: 3;
}

.new-recipe {
  grid-column-start: 3;
  grid-column-end: 4;
}

.log-in-out {
  grid-column-start: 4;
  grid-column-end: 5;
}

.home-view {
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
}

/* -------------------- SIGNED-IN-USER -------------------- */

.signed-in {
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.user-name {
  margin: auto;
}

.user-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: auto;
}

/* -------------------- ADD NEW RECIPE -------------------- */

.new-recipe-view {
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.recipe-form {
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: green;
  align-self: center;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  margin: auto;
}

.form-title {
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
}

.form-photo {
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  
}

.form-description {
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: center;
}

.submit-button {
  grid-row-start: 4;
  grid-row-end: 5;
  align-self: center;
  width: 100px;
}

.draft-recipe-card-container {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: blue;
}